.item {
    background-color: #F6F6FE;
    width: 392px;
    border-radius: 8px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    list-style-type: none;
    margin-bottom: 24px;
}

h2 {
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    padding: 0;
    margin: 0;
}



li {
    list-style-type: none;
}

.item-list {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    border: 1px solid #808080;
    border-radius: 3px;
}

ul {
    padding: 0;
    margin: 0;
}